### LONDON HOUSING DATASET ANALYSIS

In [1]:
import pandas as pd
import os
import plotly.express as ex
import plotly.graph_objects as go

pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_columns", None)

In [3]:
df = pd.read_csv("C:\\GIT\\London-Housing\\data\\London Housing.csv")

In [4]:
df.head()

,date,area,average_price,code,houses_sold,no_of_crimes
0,1/1/1995,city of london,91449,E09000001,17.0,NaN
1,2/1/1995,city of london,82203,E09000001,7.0,NaN
2,3/1/1995,city of london,79121,E09000001,14.0,NaN
3,4/1/1995,city of london,77101,E09000001,7.0,NaN
4,5/1/1995,city of london,84409,E09000001,10.0,NaN